.first-cat{
    margin-top: 15px;
}
 
.list{
    margin-left:30px;
}

.lasagna{
    margin-top: 20px;
    margin-left: 55px;
}
.description-1{
    margin-left: 53px;
    margin-top: -4px;
}

.list-2{
    margin-left: 30px;
}

.cats{
margin-left: 53px;
margin-top: 20px;
}
.description-2{
    margin-left: 53px;
    margin-top: -4px;
}

.question-1{
margin-left: 25px;
}

.options{
    margin-left: 25px;
    margin-bottom: 4px;
    
}

.first-question{
    border: 1px solid rgb(54, 53, 53);
}

.second-question{
    margin-top: 3px;
    border: 1px solid rgb(54, 53, 53);
}
.question-2{
    margin-left: 25px;
    margin-bottom: 4px;
}

.input{
    margin-top: 3px;
}