body {
    background-image: url(https://cdn.freecodecamp.org/curriculum/css-cafe/beans.jpg);
font-family: sans-serif; 
padding: 20px;
}
  
h1{
    font-size: 40px;
}

h2{
    font-size: 30px;
}

h1,h2{
    font-family: Impact;
}

  h1, h2, p {
    text-align: center;
  }
  
  .menu {
    width: 80%;
    background-color: burlywood;
    margin-left: auto;
    margin-right: auto;
}

img{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.item p{
    display: inline-block;
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 18px;
}

.flavor , .dessert{
    text-align: left;
    width: 75%;
}

.price{
    text-align: right;
  width: 24%
}

.established{
    font-style: italic;
}

hr{
    height: 3px;
    width: 90%;
    background-color: brown;
    border-color: brown;
}

a{
display: flex;
justify-content: center;
align-items: center;
margin-top: 10px;
color: black;
}

p{
    margin-top: 30px;
}


