* {
  box-sizing: content-box;
}

.gallery,
img {
  width: 100%;
  max-width: 350px;
  height: 300px;
  object-fit: cover;
  border-radius: 10px;
}

.gallery {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 16px;
  max-width: 1400px;
  margin: 0 auto;
  padding: 20px 10px;
}

body {
  background-color: #f5f6f7;
  font-family: sans-serif;
  margin: 0;
}

.header {
  text-align: center;
  padding: 32px;
  background-color: #0a0a23;
  color: #fff;
  border-bottom: 4px solid #fdb347;
}

.container::after {
  content: "";
  width: 860px;
}
